[main]
log_level = INFO

[slack]
bot_token = INSERT_BOT_TOKEN_HERE
webhook_url = INSERT_WEBHOOK_URL_HERE
default_channel = #alerts

[icinga]
hostname = 127.0.0.1
port = 5665
username = icinga-bot
password = CHANGEME
web2_url = https://127.0.0.1/icingaweb2
;certificate =
;key =
;ca_certificate =
;timeout = 5

; define a default filter to limit the returned results
; this filter will be added to all object requests
;filter = "linux-servers" in host.groups

; EOF
